body {
	margin: 0px;
	padding: 0px;
}

#container {
	position: relative;
	width: 100vw;
	height: 100vh;

	background-color: #FFF5C3;
}

.snake-body {
	position: absolute;
	border-radius: 2vmin;
	width: 4vmin;
	height: 4vmin;

	background-color: #1F7872
}
.snake#proto {
	visibility: hidden;
}

.snake-head {
	background-color: #505050;
}