body {
	margin: 0px;
	padding: 0px;
}

#container {
	position: relative;
	width: 100vw;
	height: 100vh;

	background-color: #FFF5C3;
}

.block {
	position: absolute;
	width: 4vmin;
	height: 4vmin;

	background-color: #000000;
}
.body {	
	border-radius: 2vmin;
	background-color: #1F7872;
}
.head {
	background-color: #505050;
}

.body#proto {
	visibility: hidden;
}

.food {
	position: absolute;
	width:  3vmin;
	height: 3vmin;

	border-radius: 2vmin;

	background-color: #990033;
}